<!-- used for the cart to show the product item  -->
<li class="cart-card divider">
  <div data-id="">
    <img
      class="card__delete"
      id=""
      src="../images/delete_icon.svg"
      alt="delete icon with a red x and the word remove"
    />
  </div>
  <a href="#" class="cart-card__image">
    <img src="" alt="Image of " />
  </a>
  <a href="#">
    <h2 class="card__name"></h2>
  </a>
  <p class="cart-card__color"></p>
  <p class="cart-card__quantity">qty:</p>
  <p class="cart-card__price">$</p>
</li>
