<!-- Listing of all the products in a category -->
<li class="product-card">
  <a href="../product_pages/product-details.html?product=">
    <img src="" alt="Image of" />
    <h3 class="card__brand"></h3>
    <h2 class="card__name"></h2>
  </a>
    <p class="product-card__price">$</p>
    <!-- Trigger/Open The Modal -->
    <button type="button" class="details-btn">Details</button>
  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>Some text in the Modal..</p>
    </div>

  </div>
</li>
