/************************** START OF VARIABLES USED IN CSS ********************************************/
:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
/************************** END OF VARIABLES USED IN CSS ********************************************/

/**************************** START OF SMALL SIZE SCREEN CSS ********************************************/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
}
.hero {
  position: relative;
}

.hero .banner {
  width: 100%;
}

.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}
.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}
.logo--square > div {
  margin-top: -1.7em;
}
/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

.cart-total-badge {
  font-size: 0.8rem;
  position: absolute;
  top: 10px;
  right: -5px;
  width: 15px;
  height: 15px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  border-radius: 0.75rem;
  font-size: var(--large-font);
  cursor: pointer;
}

/*********************  START OF ADDED CSS TO ANIMATE THE CART AND BUTTON WHEN CLICKED   **************************/
button.enlarge {
  transition: 0.05s;
  transform: scale(1.05);
}
button.resume {
  transform: scale(1);
}

/************** START ADDED TO SYLE FOR DIVIDER BECAUSE OF (REMOVE FROM CART FEATURE) IMAGE ETC CHANGES ***************/
.divider {
  border-bottom: 2px solid var(--primary-color);
  width: 100%; /* changed to have it be the full width*/
}
/************** END ADDED TO SYLE FOR DIVIDER BECAUSE OF (REMOVE FROM CART FEATURE) IMAGE ETC CHANGES ***************/

/*********************  CONTINUE OF ADDED CSS TO ANIMATE THE CART AND BUTTON WHEN CLICKED   **************************/
/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}
#resize__icon svg {
  fill: orange;
  background: grey;
  outline: 10px solid grey;
  border-radius: 0.25rem;
  transition: 0.85s;
  transform: scale(2.15);
  margin-left: -100px;
  margin-bottom: -40px;
}

#cart__icon svg {
  transition: 2.85s;
}

.cart svg {
  width: 25px;
  background-color: rgba(40, 79, 51, 0.912);
  outline: 10px solid rgba(40, 79, 51, 0.912);
  border-radius: 0.1rem;
  fill: antiquewhite;
}
/*********************  END OF ADDED CSS TO ANIMATE THE CART AND BUTTON WHEN CLICKED   **************************/
.cart:hover svg {
  fill: gray;
}

/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}
.products {
  padding: 0.5em;
}
.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}
.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}
/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}
.product-card img {
  margin-left: 15%;
}
.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}
/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

/* Start Newsletter styles */
#news-signup {
  width: 80%;
  max-width: 500px;
  margin: 2em auto;
  border: 1px solid #303030;
  border-radius: 6px;
}
#submit {
  background-color: #f0a868;
  border-radius: 6px;
  color: #303030;
  font-size: 20px;
  cursor: pointer;
  border: none;
  margin-top: 1em;
}
#submit:hover {
  border: none;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 1px #777;
}
.newsletter-container {
  text-align: center;
  padding: 1em;
  max-width: 100%;
  margin: auto;
}
.newsletter-fields input {
  padding: 1em;
  margin: 0.5em;
  max-width: 100%;
  padding: 1em;
}
.newsletter-fields {
  display: grid;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

/*************** START ADDED TO SYLE THE REMOVE FROM CART IMAGE ETC ****************/
.card__delete {
  padding-top: 0.5rem;
  max-width: 50px;
  grid-row: 1;
  grid-column: 1;
}

.cart-card__image {
  grid-row: 2/3; /* Changed position */
  grid-column: 1;
  margin-top: -8px; /* Changed position */
}

.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
  margin-left: -80px; /* Changed position */
}

.checkout {
  text-decoration: none;
}
/**************** END ADDED TO SYLE THE REMOVE FROM CART IMAGE ETC *****************/

.item-quantity {
  display: flex;
  align-items: center;
  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
  margin: 0.5em;
}
.item-quantity button {
  cursor: pointer;
  padding: 7px 10px;
  border-radius: none;
  font-size: smaller;
}
.total-items {
  margin: 0.5em;
}

.cart-card p {
  margin-top: 0;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

.cart-footer {
  display: grid;
  grid-template-columns: auto 25%;
}
.hide {
  display: none;
}
.cart-total {
  grid-column: 2;
}

/******************* START ADDED CSS FOR THE HOME PAGE 4 PRODUCT ICONS ********************************/
.product-categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style-type: none;
  max-width: 80%;
}

.product-categories img {
  width: 100px;
}

.product-categories li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-categories li a {
  width: 100%;
  text-decoration: none;
  color: black;
  text-align: center;
}
/******************* END ADDED CSS FOR THE HOME PAGE 4 PRODUCT ICONS ********************************/

/**************************** START OF ADDED FOR DISCOUNT EMPHESIS **************************/
.product-card__discount {
  color: red;
  text-decoration: solid 3px underline;
  text-shadow: 1px 1px 10px white, 1px 1px 10px white;
}

.product-card__price {
  color: green;
  text-decoration: solid 3px underline;
  text-shadow: 1px 1px 10px var(--primary-color), 1px 1px 10px #ffff00;
  margin-left: 6px;
}

.container__origin-price {
  text-shadow: 1px 1px 10px white, -1px -1px 10px white;
  margin-left: 15px;
}

.container__origin-price,
.product-card__discount,
.product-card__price {
  text-align: center;
}

.product-card__orginal-price {
  text-decoration: line-through;
}

div.pricing-container {
  border: 5px solid rgb(255, 102, 0);
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 0, 0.2);
  width: fit-content;
  padding: 0 1rem;
  margin-top: 20px;
}

.descriptor-label {
  font-weight: 600;
}

/**************************** END OF ADDED FOR DISCOUNT EMPHESIS **************************/

/************** START OF STYLING FOR DISCOUNT FLAG ON PRODUCT DETAILS PAGE*********************/
img#product-img {
  position: relative;
}
div.flag-container {
  position: absolute;
  top: 25%;
  left: 35%;
}
img.discount-flag {
  position: relative;
  width: 100%;
}
p.flag-amount {
  position: absolute;
  top: 9%;
  left: 27%;
  color: white;
  font-weight: 900;
  font-size: 1.75rem;
  text-align: center;
  line-height: 1.1;
}

/* Changes specificall for the Modal Pop-up */
/************** START OF STYLING FOR DISCOUNT FLAG ON PRODUCT DETAILS PAGE*********************/

/**** START OF MODAL POP-UP FOR THE PRODUCT-LISTING PAGE'S DETAILS QUICK ACCESS BUTTON ****/
/* Changes to the Discount Flag Placement */
div.flag-container.pop-up {
  top: 47%;
  left: 38%;
}
p.flag-amount.pop-up {
  top: 17%;
}
img#product-img.pop-up {
  width: 50%;
  margin-left: 150px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 500px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/**** START OF MODAL POP-UP FOR THE PRODUCT-LISTING PAGE'S DETAILS QUICK ACCESS BUTTON ****/

/*************************** START OF CSS ADDED FOR DETAILS QUICK ACCESS BUTTON ************************/
button.details-btn {
  margin: -30px 6px 0 auto;
  padding: 3px 10px;
  font-size: 0.75rem;
}
/*************************** END OF CSS ADDED FOR DETAILS QUICK ACCESS BUTTON ************************/

/************** START OF STYLING FOR DISCOUNT FLAG ON PRODUCT DETAILS PAGE*********************/

/*************************** START OF ADDED FOR CHECKOUT BUTTON ********************************/
button.cart-checkout {
  margin: 0 0 0 auto;
  padding-left: 6rem;
  padding-right: 6rem;
}

button.cart-checkout:hover {
  cursor: pointer;
}

a.checkout-button-link {
  text-decoration: none;
}
/*************************** END OF ADDED FOR CHECKOUT BUTTON ********************************/

/*************************** START OF FORM CSS FOR CHECKOUT PAGE *******************************/
#orderForm {
  max-width: 50%;
  min-width: 400px;
  margin: 2em auto;
}
form fieldset {
  margin: 2rem 0;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 0.5rem 2%;
}
form legend {
  /* font-weight: 900; */
  font-size: 1.5rem;
  color: rgba(40, 79, 51, 0.912);
  background-color: rgba(240, 168, 104, 0.5);
  /* border: 2px solid rgba(40, 79, 51, 0.912); */
  border-radius: 1rem;
  margin: 0 1rem 1rem 1rem;
  padding: 0.25rem 1rem;
}
form label.top,
form div {
  display: block;
  padding-top: 1rem;
  color: var(--dark-grey);
  padding: 2px;
  font-size: 0.8rem;
}
form label.top input,
form label.top select,
form label.top textarea {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: #555;
  width: 100%;
  max-width: 20rem;
  background-color: #e3f0ff;
  margin-bottom: 1rem;
}
/* form input.submitBtn { */
/* background-color: var(--secondary-color);
  font-weight: 900;
  font-size: 14px;
  color: white;
  border-radius: 1rem;
  padding: 0.85rem 0;
  margin: 0 0 0 1%; /*2.75%;*/
/* width: 93%; */
/* max-width: 19.85rem;  */
/* } */
form label.top input:required {
  border-left: red solid 6px;
}
form label.top input:required:valid {
  border-left: green solid 6px;
}
#top_line {
  width: 95%;
  max-width: 19.85rem;
  border-top: 2px solid var(--primary-color);
  margin: 0 0 1rem 2.75%;
}
#send1 {
  margin: 0;
  padding-top: 1.95rem;
  padding-bottom: 1.95rem;
  display: inline;
  border-left: 2px solid var(--primary-color);
  border-radius: 1rem;
}
#send2 {
  margin: 0;
  margin-left: 1%;
  padding-top: 1.95rem;
  padding-bottom: 1.95rem;
  display: inline;
  border-right: 2px solid var(--primary-color);
  border-radius: 1rem;
}
#bottom_line {
  width: 95%;
  max-width: 19.85rem;
  border-top: 2px solid var(--primary-color);
  margin: 1.4rem 0 2rem 2.75%;
}
p span.category {
  display: inline-block;
  width: 225px;
}
fieldset hr {
  margin-left: 0;
  width: 325px;
}
/**************************** END OF FORM CSS FOR CHECKOUT PAGE *******************************/

/**************************** START OF ALERT STYLING ********************************************/
p.alert {
  background-color: var(--primary-color);
  border: 1px solid orange;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 40px;
  text-align: left;
  width: 500px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
/**************************** END OF ALERT STYLING ********************************************/

/**************************** END OF SMALL SIZE SCREEN CSS ********************************************/

/**************************** START OF MEDIUM SIZE SCREEN CSS *****************************************/
@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
  .product-detail img {
    width: 80%;
    margin-left: 10%;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}

/******************** START OF MEDIUM & UP FORM CSS FOR CHECKOUT PAGE *******************************/
form input.submitBtn {
  /* margin: 0 0 0 2%; */
  /* font-size: 20px; */
  /* padding: 0.85rem 1.5rem; */
  /* border: 0; */
}
#send2 {
  margin-left: 2%;
}
/********************* END OF MEDIUM & UP FORM CSS FOR CHECKOUT PAGE ********************************/
/**************************** END OF MEDIUM SIZE SCREEN CSS *****************************************/
